__merge__: ../../api/comp_method.yaml

functionality:
  name: first_place
  info:
    label: First Place
    summary: An ensemble of LSTM, GRU, and 1D CNN models
    description: |
      An ensemble of LSTM, GRU, and 1D CNN models with a variety of input features derived from ChemBERTa embeddings,
      one-hot encoding of cell type/small molecule pairs, and various statistical measures of target gene expression.
      The models were trained with a combination of MSE, MAE, LogCosh, and BCE loss functions to improve their
      robustness and predictive performance. The approach also included data augmentation techniques to ensure
      generalization and account for noise in the data.
    documentation_url: https://www.kaggle.com/competitions/open-problems-single-cell-perturbations/discussion/459258
    repository_url: https://github.com/Jean-KOUAGOU/1st-place-solution-single-cell-pbs/tree/main

  arguments:
    - name: "--extra_output"
      type: "file"
      default: "resources/neurips-2023-data/extra_output/"
      description: "Extra output directory. Will contain folders `prepared_data`, `trained_models`, and `logs`."
      direction: output
      required: false
    - name: --epochs
      type: integer
      default: 250
      description: "Number of epochs to train."
      info:
        test_default: 1
    - name: --kf_n_splits
      type: integer
      default: 5
      description: "Number of splits for KFold."
      info:
        test_default: 2
    - name: --models
      type: string
      default: [initial, light, heavy]
      multiple: true
      info:
        test_default: [initial, light]

  resources:
    - type: python_script
      path: script.py
    - path: helper_classes.py
    - path: helper_functions.py
    - path: models.py
    - path: predict.py
    - path: prepare_data.py
    - path: train.py
    - path: closest_sqrt_factor.py
    
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_pytorch_nvidia:1.0.4
    run_args: ["--shm-size=2g"]
    setup:
      - type: python
        packages:
          - torch==2.1.1
          - --index-url
          - https://download.pytorch.org/whl/cu121
      - type: python
        packages:
          - fastparquet
          - pandas==2.1.3
          - pyarrow==14.0.1
          - tqdm==4.66.1
          - scikit-learn==1.3.2
          - transformers==4.35.2
          - matplotlib==3.8.2
          - torch-summary

  - type: native
  - type: nextflow
    directives:
      label: [hightime,highmem,highcpu,midsharedmem,gpu]
