__merge__: ../../api/comp_method.yaml

name: pyboost
label: Py-boost
summary: "Py-boost predicting t-scores"
description: |
  An ensemble of four models was considered: 
  
  * Py-boost (a ridge regression-based recommender system)
  * ExtraTrees (a decision tree ensemble with target-encoded features)
  * a k-nearest neighbors recommender system
  * a ridge regression model

  Each model offered distinct strengths and weaknesses: ExtraTrees and
  knn were unable to extrapolate beyond the training data, while ridge
  regression provided extrapolation capability. To enhance model performance,
  data augmentation techniques were used, including averaging differential
  expressions for compound mixtures and adjusting cell counts to reduce biases.

  In the end, only the py-boost model is used for generating predictions.
links:
  documentation: https://www.kaggle.com/competitions/open-problems-single-cell-perturbations/discussion/458661
  repository: https://github.com/Ambros-M/Single-Cell-Perturbations-2023
info:
  neurips2023_rank: 18
arguments:
  - type: string
    name: --predictor_names
    multiple: true
    choices: [py_boost, ridge_recommender, knn_recommender, predict_extratrees]
    default: [py_boost]
    description: Which predictor(s) to use.
    info:
      test_default: [knn_recommender]
resources:
  - type: python_script
    path: script.py
  - path: helper.py
  - path: ../../utils/anndata_to_dataframe.py
engines:
  - type: docker
    image: openproblems/base_pytorch_nvidia:1.0.0
    setup:
      - type: python
        packages:
          - colorama
          - py-boost==0.4.3
  - type: native
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [midtime,midmem,midcpu,gpu]