__merge__: ../../api/comp_control_method.yaml
name: mean_across_celltypes
label: Mean per cell type and gene
summary: Baseline method that returns mean of cell type's outcomes
description: |
  Baseline method that predicts for a cell type the mean of its outcomes of all compounds.
resources:
  - type: python_script
    path: script.py
  - path: ../../utils/anndata_to_dataframe.py
engines:
  - type: docker
    image: openproblems/base_python:1.0.0
    setup:
      - type: python
        packages: [ fastparquet ]
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [ midtime, highmem, highcpu ]