__merge__: ../../api/comp_control_method.yaml
name: ground_truth
label: Ground truth
summary: "Returns the ground truth predictions."
description: |
  The identity function that returns the ground-truth information as the output.
info:
  preferred_normalization: counts
resources:
  - type: r_script
    path: script.R
engines:
  - type: docker
    image: openproblems/base_r:1.0.0
    setup:
      - type: r
        cran: [ arrow, dplyr ]
      - type: python
        packages: [ fastparquet ]
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [ midtime, highmem, highcpu ]